<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Club</title>
</head>
<body>
    <h2>REST API webszolgáltatásai</h2>

    <table>
        <tr>
            <th>Metódus</th>
            <th>URL</th>
            <th>Szolgáltatás</th>
        </tr>

        <tr>
            <th>GET</th>
            <th><a href="/categories">/categories</a></th>
            <th>Kategóriák listája</th>
        </tr>

        <tr>
            <th>GET</th>
            <th><a href="/categories/1">/categories/{id}</a></th>
            <th>Egy kategória</th>
        </tr>

        <tr>
            <th>GET</th>
            <th><a href="/categories/1/clubs">/categories/{id}/clubs</a></th>
            <th>Egy kategória szórakozó helyei</th>
        </tr>

        <tr>
            <th>POST</th>
            <th>/categories</th>
            <th>ÚJ kategória létrehozása</th>
        </tr>

        <tr>
            <th>DELETE</th>
            <th>/categories{id}</th>
            <th>Kategória törlése</th>
        </tr>

        <tr>
            <th>PATCH</th>
            <th>/categories{id}/{agelimit}</th>
            <th>Kategória korhatár átalakítása</th>
        </tr>
    </table>
</body>
</html>